# Caso 02
#### Instalamos openpyxl

In [8]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.3-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.3-py2.py3-none-any.whl (251 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.3/251.3 kB 5.3 MB/s eta 0:00:00:00:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.3

#### Importamos pandas

In [1]:
import pandas as pd

#### Asignamos la ruta del archivo a una variable y leemos y guardamos los datos del archivo en una variable

In [2]:
ruta_csv = './src/airbnb.csv'
df = pd.read_csv(ruta_csv)
print(type(df))

<class 'pandas.core.frame.DataFrame'>

#### Observamos las columnas que posee nuestra tabla.

In [3]:
df.dtypes

room_id                   int64
host_id                   int64
room_type                object
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                   float64
dtype: object

#### Las ID de la casa de Roberto y Clara son 97503 y 90387, respectivamente. A continuación, creamos un dataframe con estos valores.

In [4]:
condicion = (df['room_id'] == 97503) | (df['room_id'] == 90387)
df_filtrado = df[condicion]

#### Observamos los valores

In [5]:
df_filtrado.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
41,90387,490050,Private room,Santo António,204,5.0,2,1.0,46.0
48,97503,515924,Private room,Santo António,39,4.0,2,1.0,26.0

#### Finalmente, guardamos los valores en un archivo excel

In [12]:
ruta_excel = './src/caso02.xlsx'
df_filtrado.to_excel(ruta_excel, sheet_name='Resultados', index=False)