# Problema 02
#### Importamos pandas

In [3]:
import pandas as pd

In [4]:
ruta_csv = './src/winemag-data-130k-v2.csv'
df = pd.read_csv(ruta_csv)
print(type(df))

<class 'pandas.core.frame.DataFrame'>

#### Visualizamos los datos

In [5]:
df.dtypes

Unnamed: 0                 int64
country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

In [6]:
df.head(5)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [7]:
df.tail(5)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
65494,65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre
65495,65495,Australia,"This is a big, fat, almost sweet-tasting Caber...",NaN,90,22.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Tapestry 2005 Cabernet Sauvignon (McLaren Vale),Cabernet Sauvignon,Tapestry
65496,65496,US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.0,California,Dry Creek Valley,Sonoma,NaN,NaN,Fritz 2006 Estate Sauvignon Blanc (Dry Creek V...,Sauvignon Blanc,Fritz
65497,65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

In [8]:
df['country'].unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia'],
      dtype=object)

#### Creamos un dataframe subset donde guardaremos el cambio de nombre de las columnas

In [9]:
df_subset = df.rename(columns={'Unnamed: 0' : 'ID', 'designation' : 'wine', 'taster_twitter_handle' : 'twitter_account', 'title' : 'wine_presentation'})
df_subset.head()

,ID,country,description,wine,points,price,province,region_1,region_2,taster_name,twitter_account,wine_presentation,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

#### Agregamos el archivo de los paises al dataframe df_csv_paises

In [10]:
ruta_csv_paises = './src/paises.csv'
df_csv_paises = pd.read_csv(ruta_csv_paises,sep=',')
df_csv_paises.head()

       nombre         name          nom  iso2  iso3  phone_code continente
0  Afganistán  Afghanistan  Afghanistan    AF   AFG          93       Asia
1     Albania      Albania      Albanie    AL   ALB         355     Europa
2    Alemania      Germany    Allemagne    DE   DEU          49     Europa
3     Algeria      Algeria      Algérie    DZ   DZA         213     África
4     Andorra      Andorra      Andorra    AD   AND         376     Europa

#### Separaremos los valores de country y continente para evitar q se creen otras columnas que no nos vayan a ayudar en nuestro análisis

In [11]:
select = [' name','continente']
df_paises = df_csv_paises[select].rename(columns={' name' : 'country'})
df_paises.head()

       country continente
0  Afghanistan       Asia
1      Albania     Europa
2      Germany     Europa
3      Algeria     África
4      Andorra     Europa

#### Realizamos un innerjoin para crear un nuevo dataframe que cree una columna que guarde los continentes

In [12]:
df_final = pd.merge(df_subset, df_paises, how='inner', on='country')

#### A continuación, creamos una nueva columna que guarde un rango de precios a partir de los precios de los vinos en el dataframe, de esta forma, facilitar su análisis

In [13]:
bins = [0, 500, 1000, 1500, 2000, float('inf')]
labels = ['0-500','501-1000','1001-1500','1501-2000','2001-2500']
df_final['range_price'] = pd.cut(df_final['price'],bins=bins, labels=labels)

#### Realizamos lo mismo para crear la columna que guarde un rango de puntos otorgados a cada vino

In [14]:
bins = [80, 84, 88, 92, 96, float('inf')]
labels = ['80-84','85-88','89-92','93-96','97-100']
df_final['range_points'] = pd.cut(df_final['points'],bins=bins, labels=labels)

#### Revisamos el resultado

In [15]:
df_final.head(5)

,ID,country,description,wine,points,price,province,region_1,region_2,taster_name,twitter_account,wine_presentation,variety,winery,continente,range_price,range_points
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Europa,NaN,85-88
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,Europa,0-500,85-88
2,5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem,Europa,0-500,85-88
3,6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo,Europa,0-500,85-88
4,7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach,Europa,0-500,85-88

#### Nuestro primer reporte será de puntos y precios por continente, esto nos permitirá conocer la puntuación media por el vino de cada continente, asimismo, conocer un precio promedio que las personas desean comprar su vino

In [16]:
df_pointspricexcontinent = df_final[['continente','price','points']].groupby(['continente'])[['points','price']].mean()
df_pointspricexcontinent.head()

                        points      price
continente
América              86.662125  22.630405
Asia                 88.097297  28.885794
Australia y Oceanía  88.450262  32.321907
Europa               88.588346  36.720894
África               88.082888  24.239695

El segundo reporte será del total de revisiones según los puntos

In [17]:
df_range_points = df_final[['range_points']].value_counts()
df_range_points.head(13)

range_points
85-88           17398
89-92           13870
80-84            3466
93-96            3315
97-100            108
Name: count, dtype: int64

El tercer reporte es de una media de las calificaciones según el rango de precios

In [18]:
df_pointsxrange_price = df_final[['range_price','points']].groupby(by=['range_price'])['points'].mean()
df_pointsxrange_price.head()

/tmp/ipykernel_2133/2461067759.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_pointsxrange_price = df_final[['range_price','points']].groupby(by=['range_price'])['points'].mean()

range_price
0-500        88.275684
501-1000     96.228571
1001-1500    96.333333
1501-2000    97.500000
2001-2500    96.000000
Name: points, dtype: float64

El cuarto reporte es un recuento de cuantas personas han realizado revisiones según el rango de precios

In [19]:
df_count_range_price = df_final['range_price'].value_counts()
df_count_range_price.head()

range_price
0-500        33669
501-1000        35
1001-1500        3
1501-2000        2
2001-2500        1
Name: count, dtype: int64

Instalamos pymongo

In [20]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/python/3.10.13/lib/python3.10/site-packages (4.7.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from pymongo) (2.6.1)

Conexión a la base de datos

In [35]:
from pymongo import MongoClient

def conexion_mongo_db(cadena : str, db_name : str) :
    client = MongoClient(cadena)
    db = client[db_name]
    return db

db = conexion_mongo_db(cadena='mongodb+srv://alanum9603:BibLYJj1qglwyxMR@mongodb.mtjb1gn.mongodb.net/',
                       db_name='pypandas')

In [36]:
db.list_collection_names()

['problema02']

Envíamos a nuestra base de datos pymongo nuestro dataframe df_final

In [39]:
def write_to_mongo(db, coleccion_name, df) :
    data = df.to_dict('records')
    coleccion = db[coleccion_name]
    coleccion.insert_many(data)

write_to_mongo(db=db, coleccion_name='problema02', df=df_final)